.popup {
	z-index: 9;
	background-color: #050000;
	border: 2px solid #d3d3d3;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 150px;
	min-width: 300px;
	max-height: 600px;
	max-width: 900px;
  }
  
  /*Drgable */
  
  .popup {
	position: absolute;
	/*resize: both; !*enable this to css resize*! */
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 5px 7px rgba(44, 5, 116, 0.1);;
  }
  
  .popup-header {
	position: relative;
	padding: 5px;
	height: 20px;
	cursor: move;
	z-index: 10;
	text-align: left;
	background-color: #031625;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: rgb(245, 244, 244);
  }
  
  /*Resizeable*/
  
  .popup .resizer-right {
	width: 5px;
	height: 100%;
	background: transparent;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: e-resize;
  }
  
  .popup .resizer-bottom {
	width: 100%;
	height: 5px;
	background: transparent;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: n-resize;
  }
  
  .popup .resizer-both {
	width: 5px;
	height: 5px;
	background: transparent;
	z-index: 10;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: nw-resize;
  }
  
  /*NOSELECT*/
  
  .popup * {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }
  
  .pop-container {
	  height: calc(100% - 65px);
	  padding: 3px;
	  overflow: auto;
/*	  overflow-y: scroll;
	  overflow-x: hidden; */
  }
  
  .but-window {
	  position: absolute;
	  top: 1px;
	  right: 1px;
  }

  .pop-footer {
		bottom: 0;
	 	height: 0px;
		background: red;
		text-align: right;
  }


  :root {
	--colour-black: #1e1e1e;
	--colour-white: #ffffff;
	--font-family: Lato,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
	--font-size: 100%;
  }
  

  .pop-footer button {
	  margin-right: 10px;
	  cursor: pointer;
  }
  
  
  
  
  
  
  
  
  
  
  
  
   
  