body {
    width: calc(100%-2px);
    height: 100%;
}

div::-webkit-scrollbar {
    width: 1em;
}
  
div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(206, 56, 56, 0.3);
}
  
div::-webkit-scrollbar-thumb {
    background-color: rgb(24, 23, 23);
    outline: 1px solid rgb(241, 238, 236);
}

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3d3c3c;
    box-shadow: 0px 8px 16px 0px white;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 3px 3px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #cfcdcd; color: black}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.div-lev {
    margin-bottom: 20px;
}

.div-left{
    height: 200px;
    width: 200px;
    border: solid 1px #07f86c;
    background-color: #0066CC;
    margin: 3px;
    display: inline-block;
    float: left;
  }

.div-right{
    height: 500px;
    border: solid 1px #f3a743;
    background-color: #66CC00;  
    width: 100%;
  }

.div-area {
    border: 1px solid rgb(94, 92, 92);
    border-radius: 5px;
    margin: 5px;
    width: calc(100% - 28px);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /*width: fit-content;
    width: 100%;*/
    display:table;
  }

.title-area {
      font-size: 22px;
      font-weight: bold;
     
      /*margin-bottom: 3px;*/
}

.title-area-2 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px; 
}


.clickable-link {
    text-decoration: underline;
    color:antiquewhite;    
}

.clickable-link:hover {
    cursor: pointer;
    color:lightblue;    
}

a.button0{
    display:inline-block;
    border:0.1em solid #FFFFFF;
    margin-left: 3px;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:bold;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
a.button0:hover{
    color:#000000;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
    a.button0{
    display:block;
    margin:0.4em auto;
    }
}

a.button1{
    padding: 5px 7px;
}

a.button2{
    padding: 0 5px 0 5px;
}

.tg  {
    border-collapse:collapse;
    border-color:#93a1a1;
    border-spacing:0;
}
.tg td {
    background-color: black;
    border-color:#93a1a1;
    border-style:solid;
    border-width:1px;
    color:white;
    font-family:Arial, sans-serif;
    font-size:12px;
    overflow:hidden;
    padding:1px 1px;
    word-break:normal;
}
.tg th {
    background-color: black;
    border-color:#93a1a1;
    border-style:solid;
    border-width:1px;
    color:white;
    font-family:Arial, sans-serif;
    font-weight: bold;
    font-size:12px;
    overflow:hidden;
    padding:1px 1px;
    word-break:normal;
}
.tg .tg-2bhk {
    background-color:#eee8d5;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-0pky {
    border-color:inherit;
    text-align:left;
    vertical-align:top
}

.pop-help {
    font-size: 9 px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;

}